name: hello-world
on: push
jobs: 
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - run: echo "$(cat hello_world.txt)"
      - name: use node.js
        uses: actions/setup-node@latest
        with:
          node-version: 'latest'
      - run: npm install
      - run: npm run build
          
